* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 1; */
}

body {
  /* overflow: hidden; */
}

img {
  display: block;
}

input[type="range"] {
  appearance: none;
}

input[type="range"]:focus {
  outline: none;
}
